.header-blur {
    background-color: rgb(0, 0, 0, 0.7); /* Fallback for non-supporting browsers */
    border-bottom-width: 1px;
    border-color: rgb(31, 41, 55);
  }
  
  @supports (backdrop-filter: blur(8px)) {
    .header-blur {
      background-color: rgba(0, 0, 0, 0.7);
      backdrop-filter: blur(8px);
    }
  }